{% extends 'base.html' %}
{% block welcome %}Σύνδεση στο Σύστημα{% endblock %}
{% block content %}
    <div class="single_col">
        <div>
        <form action="" method="post">
            <label class="field-label">Email</label><br>
            <input name="username" type="email" placeholder="enter your username"><br><br>
            <label>Password</label><br>
            <input name="password" type="password" placeholder="enter your password"><br>
            <p>{{ error }}</p>
            <input type="submit" value="Login"><br><br>
        </form>
        <form action="/register">
            <label>Don't have an account?</label>
            <input value="Register" type="submit">
        </form>
        </div>
    </div>
{% endblock %}
