<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REM - Login</title>
</head>
<body>
<div>
    <h1>REM Marketplace - Login Page</h1><br><br>
    <form action="" method="post">
        <label>Email</label><br>
        <input name="username" type="email" placeholder="enter your username"><br><br>
        <label>Password</label><br>
        <input name="password" type="password" placeholder="enter your password"><br>
        <p>{{ error }}</p>
        <input type="submit" value="Login"><br><br>
    </form>
</div>
<div>
    <form action="/register">
        <label>Don't have an account?</label>
        <input value="Register" type="submit">
    </form>
</div>
</body>
</html>