<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form method="post">
        <label>Name</label><br>
        <input name="full_name" type="text" placeholder="Enter your full name"><br><br>
        <label>Email</label><br>
        <input name="username" type="email" placeholder="Enter your username"><br><br>
        <label>Password</label><br>
        <input name="password" type="password" placeholder="Enter desired password"><br>
        <label color="#990000">Password Mismatch</label>
        <input name="password_conf" type="password" placeholder="Repeat password"><br><br>
        <
        <input type="submit" value="Create Account"><br><br>
    </form>
</body>
</html>