.outer {
    border: 1px solid grey;
    align-content: center;
    justify-content: center;

}

.row-content {
    justify-content: center;
}

.single_col {
    align-content: center;

}

.center {
    padding: 40px;
    font-size: large;
    text-align: center;
}

.row>div {
    width: 100%;
}

.main {
    margin-left: 10%;
    margin-right: 10%
}

html,
body {
    height: 100%;
}
.new-listing {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cont-ms {
    border-bottom: 1px solid grey;
    align-content: center;
    justify-content: center;
}

.cont-left {
    float: left;
    width: 40%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cont-right {
    border-left: 1px solid grey;
    float: right;
    width: 60%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

}

.cont-bottom {
    border-top: 1px solid grey;
}

.title {
    padding: 2%;
}

.btn {
    width: 120px;
}