{% extends 'base.html' %}
{% block welcome %}Σύνδεση στο Σύστημα{% endblock %}
{% block content %}
<div class="center">
    <div>
        <form action="" method="post">
            <label class="field-label">Όνομα Χρήστη</label><br>
            <input name="username" type="text" placeholder=""><br><br>
            <label>Κωδικός πρόσβασης</label><br>
            <input name="password" type="password" placeholder=""><br>
            <br>
            <input type="submit" value="Σύνδεση"><br>
            <p>{{ error }}</p><br>

        </form>
    </div>
</div>
{% endblock %}